﻿body {
    background-image: url(https://educacionartisticamra.files.wordpress.com/2018/06/493634_digital-art_3d_shary_2560x1600_www-gde-fon-com.jpg);
    padding: 0;
    margin: 0;
}
section {
    background-image: url(https://educacionartisticamra.files.wordpress.com/2018/06/493634_digital-art_3d_shary_2560x1600_www-gde-fon-com.jpg);
    width:35%;
    margin: 40px auto;
    border-radius: 4px;
    border: 5px outset black;
}
article div {
     font-family: 'PT Sans Narrow', sans-serif;
    padding-bottom: 20px;
}
article label{
    margin-left:40px;
    color:magenta;
}
article input{
    width:85%;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:40px;
    box-sizing:border-box;
    background:#008080;
    border:none;
    font-size:medium;
    border-bottom:1px solid rgb(0,0,255);
}
::placeholder{
    color:rgb(66,88,95);
}
article h1{
   padding-top:5px;
   font-size:25px;
   text-align:center;
}
article sup{
    color:red;
}
article #male{
    width:15px;
}
article.man {
    margin-left: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
article #female{
    width:15px;
    margin-left:10px;
}
article.woman {
    margin-left: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
article.radio{
    padding-bottom:30px;
}
article#checkbox{
    width:15px;
}
article.checkbox {
    margin: 0;
    color: rgb(255,0,255);
    font-family: 'PT Sans Narrow', sans-serif;
}
article.login{
    margin:40px,40px,15px,40px;
    padding-bottom:30px;
}
article button {
    padding: 15px,195px,15px,205px;
    border: none;
    border-radius: 4px;
    background: #00695f;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight:600;
    font-size:15px;
}